/*Home*/

.Home-container {
    display: flex;
    flex-direction: row; 
    width: auto;
    height: auto;
    padding: 40px 70px 40px 70px;
    padding-top: 40px;
    padding-bottom: 50px;
  }

.Home-container h4 {
  margin: 0;
}
  .Home-text {
    width: 100%;
    margin-top: 10px;
    text-align: left;
    padding: 12px;
    order: 1;
    font-size: 28px;
    margin-left: 50px;
      color: #fff;
  }

  .Home-img {
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-right: 220px;  
    order: 2;
    align-items: center;
    justify-content: center;
  }
.textTitle-container{
  display: flex;
}
.name {
  display: flex;
  margin: 4px;
  padding-top: 20px;
  color: #eeeeee;
  text-align: left;
  text-shadow: 2px 2px 2px #caa1ca69;;
  font-size: 40px;

}
.surname {
  margin: 4px;
  padding-top: 20px;
  color: #f52cf9;
  text-align: left;
  text-shadow: 2px 2px 2px #caa1ca69;;
  font-size: 40px;

}

  .text-occupation{
    margin-top: 4px;
    padding-top: 8px;
    color: #f52cf9;
    font-weight:bold;
    font-size: 30px;
    text-shadow: 2px 2px 2px #caa1ca69;;
  }


  .bienvenida {
    width: auto;
    font-size: 20px;
    margin-top: 24px;
    text-align: justify;
    text-shadow: 2px 2px 2px #caa1ca69;;
  }

  .imgProfile {
    flex: 2; /* Ajusta este valor según sea necesario para dar más espacio a imgProfile */
    flex-basis: 0;
    background-color: #1c1c1d;
    border: solid #f52cf9;
    box-shadow: 0 0 24px #f52cf9;
    width: 110%;
    height: auto;
    border-radius: 50%;
    position: relative;
    z-index: 1;

  }

  
  .imgProfile:hover {
    transform: translateY(-5px) scale(1.1);
    transition: transform 0.3s ease-in-out;
    border: solid #f52cf9;
    box-shadow: 0 0 40px #f52cf9;

}.imgProfile {
  transform: translateY(0px) scale(1);
  transition: transform 0.5s ease-in-out;
}


  .cv-button {
    background: #f52cf9;
    color: #fff;
    box-shadow: 0 0 18px #f52cf9;
    width: 180px;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    border-radius: 16px;
    margin-top: 24px;
  
    text-decoration: none;
  }
  .cv-button:hover {
    background: #f7fa68;
    color: #f52cf9;
  }
  .social-Media--Icon {
    display: flex;
    height: 40px;
    gap: 12px;
    justify-content: space-evenly;
    align-items: end;
    
  }
 .instagram-Icon,
 .linkedin-Icon,
.github-Icon {
  border-radius: 50%;
  border: solid 2px #f52cf9;
  padding: 12px;
  color: #f52cf9;
  width: 24px;
  height: 24px;
}

.instagram-Icon:hover ,
.linkedin-Icon:hover ,
.github-Icon:hover {
  border-radius: 50%;
  border: solid 2px #f52cf9;
  padding: 12px;
  color: #fff;
  background: #f52cf9;
  width: 24px;
  height: 24px;
  transform: translateY(-5px) scale(1.2);
  transition: transform 0.3s ease-in-out;
}

  .star-Icon {
    color: #f7fa68;
    padding-right: 8px;
    padding-left: 8px;
  }



  @media only screen and (max-width: 600px) {
   
/*Home*/

.Home-container {
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 40px 70px 40px 70px;
margin: 0;


}


.name {
  display: flex;
  padding-top: 16px;
  color: #eeeeee;
  text-align: left;
  text-shadow: 2px 2px 2px #caa1ca69;;
  font-size: 32px;

}
.surname {
  margin: 4px;
  padding-top: 16px;
  color: #f52cf9;
  text-align: left;
  text-shadow: 2px 2px 2px #caa1ca69;;
  font-size: 32px;

}
.Home-text {
  width: auto;

  text-align: center;
  margin-top: 20px;
  text-align: left;
  padding: 30px;
  order: 2;
  font-size: 28px;
  margin-left: 0px;
    color: #eeeeee;
}

.Home-img {

  margin-top: 0px;
  margin-right: 220px;  
  order: 1;
  align-items: center;
  justify-content: center;

}


.bienvenida {
  padding: 16px;
  font-size: 16px;
  margin-top: 32px;
  line-height: 29px;
  text-align: center;
}

.text-occupation{
  text-align: center;
  font-size: 20px;
}

.img-container {
  display: grid;
  place-items: center;
}
.imgProfile {
  flex: 2; /* Ajusta este valor según sea necesario para dar más espacio a imgProfile */
  flex-basis: 0;
  background-color: #1c1c1d;
  border: solid #f52cf9;
  box-shadow: 0 0 24px #f52cf9;
  width: 50%;
  height: auto;
  border-radius: 50%;
  position: relative;
  z-index: 1;

}


.imgProfile:hover {
  transform: translateY(-5px) scale(1.1);
  transition: transform 0.3s ease-in-out;
  border: solid #f52cf9;
  box-shadow: 0 0 40px #f52cf9;

}.imgProfile {
transform: translateY(0px) scale(1);
transition: transform 0.5s ease-in-out;
}

.social-Media--Icon {
  display: flex;
  padding: 14px;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 0;

}

.instagram-Icon,
.linkedin-Icon,
.github-Icon {
 border-radius: 50%;
 border: solid 2px #f52cf9;
 padding: 12px;
 color: #f52cf9;
 width: 24px;
 height: 24px;
margin: 0;
}

.instagram-Icon:hover ,
.linkedin-Icon:hover ,
.github-Icon:hover {
 border-radius: 50%;
 border: solid 2px #f52cf9;
 padding: 12px;
 color: #fff;
 background: #f52cf9;
 width: 24px;
 height: 24px;
 transform: translateY(-5px) scale(1.2);
 transition: transform 0.3s ease-in-out;
}


}
